{
	"useTabs": false,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"singleAttributePerLine": false,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"proseWrap": "preserve",
	"requirePragma": false,
	"semi": true,
	"parser": "babel"
}