$mobile: 428 px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1360px;

$primaryMainColor: #0499dd;

.mainSection {
  background: center url('./catalogMainSectionBG.jpg') no-repeat;
  background-size: cover;
  background-color: $primaryMainColor;
  height: 370px;

  @media (min-width: $tablet) {
    height: 510px;
  }

  @media (min-width: $laptop) {
    height: 289px;
  }
}
