
.swiper {

    width: 100%;
    height: 500px;
    max-width: 1200px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-inside {
    margin: 20px 0;

}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {

    background-color: white;

    position: absolute;
    right: 10px;
    padding: 11px 20px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
    transform: scale(0.7);
    z-index: 2;
}

.swiper-button-prev:after {
    color: gray;
}

.swiper-button-next:after {
    color: gray;

}

#n{
    right: -34px;
}

#p{
    left: -34px;
}


.c {
    position: relative;
    max-width: 1200px;
    margin: 100px auto  0 auto;
}


.thumbsSwiper {
    margin-top: 10px;
}
.thumbsSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.7;
}
.thumbsSwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.react-simple-image-viewer__modal{
    z-index: 2000!important;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1220px){
    .c{
        margin: 100px 20px 20px 20px;
    };
    .swiper{
        max-width: 1000px;
    }
    #n{
        right: 34px;
    }

    #p{
        left: 34px;
    }

}

@media screen and (max-width: 820px){
    .c {
        margin: 70px 20px 0 20px;
    }
    .swiper{
        max-width: 700px;
    }
    .swiper-button-next,
    .swiper-button-prev {

        display: none;
    }
}



@media screen and (max-width: 500px) {


    .mySwiper2 {
        height: 300px;

    }
    .mySwiper2 .swiper-wrapper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

}