$primaryMainColor: #0499dd;
$secondaryMainColor: #ffc700;

.tourDescription {
  border-left: 3px solid $primaryMainColor;
  padding-left: 24px;
}

.cardBtn {
  &:hover {
    color: $secondaryMainColor !important;
  }
}
