.flex {
  display: flex;
  position: relative;
  margin-right: 300px;
}

.flex_img {
  display: flex;
  margin-right: 200px;

  animation: fadeIn 6s;
  // -webkit-animation: fadeIn 6s;
  // -moz-animation: fadeIn 6s;
  // -o-animation: fadeIn 6s;
  // -ms-animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.what_is_ukraine {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499DD;
}


.styles.what_is_ukraine_description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.info:hover {
  background-color: #0499DD;
  transition: 3s;
  box-shadow:
    1px 1px #EDEDED,
    2px 2px #EDEDED,
    3px 3px #EDEDED,
    4px 4px #EDEDED,
    5px 5px #EDEDED,
    6px 6px #EDEDED,
    7px 7px #EDEDED;
  -webkit-transform: translateX(-60px);
  transform: translateX(-60px);
}

.info:hover .what_is_ukraine {
  color: #EDEDED;
}


.what_is_ukraine_img {
  height: 704px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}


.info {
  box-sizing: border-box;
  padding: 20px;
  background-color: #EDEDED;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  right: 24px;
  top: 20%;
  margin: 0 24px;
}




@media (min-width:550px) {
  .info {
    top: 28%;
    padding: 30px;
    width: 450px;
  }

}

@media (min-width:610px) {
  .info {
    top: 35%;
    padding: 30px;
    width: 494px;
  }


}

@media (min-width:1024px) {
  .info {
    top: 30%;
    padding: 40px;
  }

}