.flex_img {
  display: flex;
  margin-right: 200px;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}


.info:hover .what_is_ukraine {
  color: #EDEDED;
}


.what_is_ukraine_img {
  width: 100%;
  height: 700px;
  border-radius: 20px;
  object-fit: cover;
}

.info{
  transition: 2s;
}

.info {
  &:hover {
  background-color: #0499dd;
  transition: 2s;
  box-shadow: 1px 1px #ededed, 2px 2px #ededed, 3px 3px #ededed, 4px 4px #ededed, 5px 5px #ededed, 6px 6px #ededed,
  7px 7px #ededed;
  -webkit-transform: translateX(-60px);
  transform: translateX(-60px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

